@font-face {
    font-family: riverad;
    src: url(./fonts/River\ Adventurer.ttf);
}

body, 
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 85px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
}

div#logo-header {
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.header-li  {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-li a{
    text-decoration: none;
    color: black;
    font-family: riverad;
    font-size: 21px;
    letter-spacing: 0.6px;
}

#logo-header-text{
    text-decoration: none;
    color: black;
    font-family: riverad;
    font-size: 26px;
    letter-spacing: 0.6px;
}

ul#cells-header {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#cells-header-accueil a {
    color: red;
    font-size: 22px;
}

#logo-header:hover {
    transform: scale(1.045);
    transition: 0.5s;
}

.header-li:hover {
    background-color: rgb(247, 208, 208);
    border-bottom: rgb(150,40,95) 3px solid;
}

.header-li a:hover {
    transform: scale(1.04);
    transition: 0.3s;
}

footer {
    width: 100%;
    height: 78px;
    padding: 0;
    margin: 0;
    background-color: rgb(28, 26, 26);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 100%;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div p {
    color: #F5F5F5;
    font-family: sans-serif;
    font-size: 17.5px;
}

#footer-slogan p {
    font-size: 16px;
}

main {
    height: 82.5vh;
    position: relative;
    box-shadow: inset 0px 5px 10px 0px whitesmoke;
}


h1 {
    color: #F5F5F5;
    font-family: riverad;
    width: 100%;
    text-shadow: 6px -6px 20px #F5F5F5;
}

#main-box-title1 {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    word-spacing: 6px;
}

#main-box-title2 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 70px;
    letter-spacing: 6px;
    word-spacing: 5px;
}

#main-box-logo1 {
    position: absolute;
    top: 80%;
    left: 44%;
    transform: translate(-50%, -50%);
}

#main-box-logo2 {
    position: absolute;
    top: 80%;
    left: 56%;
    transform: translate(-50%, -50%);
}